.button__container {
    display: flex;
    justify-content: center;
    align-items: space-around;
}

.button__body {
    text-decoration: none;
    color: #FFEEAD;
    background-color: #D9534F;
    min-height: 40px;
    max-width: 80px;
    border-radius: 2px;
}

.button__body:hover {
    background-color: #96CEB4;
    color: #D9534F;
}