.button__container {
    display: flex;
    justify-content: center;
    align-items: space-around;
}

.button__body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #B25068;
    background-color: #774360;
    min-height: 80px;
    min-width: 100px;
    border-radius: 15px;
    padding: 0px 10px;
}

.button__body:hover {
    background-color: #E7AB79;
    color: #4C3A51;
}