.card__container {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card__body {
    height: 256px;
    width: 480px;
    background-color: #F5EDDC;
    border: 2px solid #F5EDDC;
    border-radius: 10px;
}

.card__colorTag{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #EB1D36;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #F5EDDC;
    margin: 5px 5px;
    height: 40px;
}

