#contextModule__container {
    background-color: #655989;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#contextModule__box {
    height: 100%;
    width: 70%;
    background-color: #7A9EAF;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
  }

#contextModule__header {
    height: auto;
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #655989;
}

#contextModule__body {
  background-color: #655989;
  height: 70%;
  width: 100%;
  border-width: 2px;
  border-radius: 10px;
  display: flex;
}

#contextModule__inputBox { 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 35px;
} 

#contextModule__result {
  height: 100%;
  width: 100%;
}

#inputForm_bio {
  min-height: 120px;
}