.app__container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #4C3A51;
  color: #E7AB79;
}

#app__box {
  height: 95%;
  width: 95%;
  background-color: #B25068;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 15px;
}

#app__header {
  width: 100%;
}

#app__body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items:center;
}

